.red-btn {
    background-color: var(--tertiary-color);
}

.btn-item {
    border-width: 0px;
    border-radius: 100%;
    font-weight: bold;
    color: var(--light-color);
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.green-btn {
    background-color: var(--secondary-color);
}

.table td,
.table th {
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}


.line {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    gap: 20px;
    /* min-width: 100px; */
    justify-content: space-between;
}

td {
    vertical-align: middle;
    justify-content: space-between;
}